<footer class="footer small text-center text-black-50" >

	<!--	somehow not having this will make the copyright div not aligned-->
	<div class="w-clearfix" >

		<div class="w-col"  align="right">
			<p class="menu-Label">Use Cases</p>
			<ul class="vertical-menu">
				<li> <a target="_blank" href="https://github.com/gemc/clas12-systems">        clas12 systems </a></li>
				<li> <a target="_blank" href="https://github.com/gemc/clas12Tags">            clas12 (gemc2) detectors </a></li>
				<li> <a target="_blank" href="https://gemc.jlab.org/web_interface/index.php"> clas12 OSG portal</a></li>
			</ul>
		</div>

		<div class="w-col"  align="right">
			<p class="menu-Label">Resources</p>
			<ul class="vertical-menu">
				<li> <a target="_blank" href="https://github.com/gemc/src">        Gemc on GitHub </a></li>
				<li> <a target="_blank" href="http://geant4.web.cern.ch">          Geant4         </a></li>
				<li> <a target="_blank" href="https://root.cern">                  Root           </a></li>
				<li> <a target="_blank" href="https://en.cppreference.com/w/">     C++ Reference  </a></li>
			</ul>
		</div>

		<div class="w-col"  align="right">
			<p class="menu-Label" align="right">Validation</p>
			<ul class="vertical-menu" >
				<li> <a target="_blank" href="https://github.com/gemc/src/actions/workflows/build.yml"             >
					  <img src="https://github.com/gemc/src/actions/workflows/build.yml/badge.svg"                 /> </a></li>
				<li> <a target="_blank" href="https://github.com/gemc/glibrary/actions/workflows/build.yml"        >
					  <img src="https://github.com/gemc/glibrary/actions/workflows/build.yml/badge.svg"            /> </a></li>
				<li> <a target="_blank" href="https://github.com/gemc/src/actions/workflows/testSciG.yml"          >
					  <img src="https://github.com/gemc/src/actions/workflows/testSciG.yml/badge.svg"              /> </a></li>
				<li> <a target="_blank" href="https://github.com/gemc/clas12-systems/actions/workflows/tests.yml"  >
					  <img src="https://github.com/gemc/clas12-systems/actions/workflows/tests.yml/badge.svg"      /> </a></li>
			</ul>
		</div>

	</div>


	<br/>
	<br/>

	<div class="container px-4 px-lg-5">Copyright &copy; GEMC 2022<br>
		<a target="_blank" href="mailto:ungaro@jlab.org">           email Maurizio   </a>
	</div>

</footer>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- Core theme JS-->
<script src="/home/assets/js/scripts.js"></script>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
	feather.replace()
</script>

