{% assign items = site.data.mynotes | group_by: "category" %}

<div class="directory-page">
  <ul class="link-list">
    {% for group in items %}
      <li class="section">
        <div class="section-title">{{ group.name | escape }}</div>

        <ul class="section-links">
          {% for note in group.items %}
            {%- assign has_multi = false -%}
            {%- if note.tit1 and note.link1 -%}
              {%- assign has_multi = true -%}
            {%- endif -%}

            {%- if has_multi -%}
              <li>
                {{ note.title | escape }}:
                {%- for i in (1..10) -%}
                  {%- assign titk = 'tit' | append: i -%}
                  {%- assign linkk = 'link' | append: i -%}
                  {%- if note[titk] and note[linkk] -%}
                    <a href="{{ note[linkk] | escape }}" >[ {{ note[titk] | escape }} ]</a>
                  {%- endif -%}
                {%- endfor -%}
              </li>
            {%- else -%}
              {%- assign href = note.link | default: note.link1 -%}
              <li>
                <a href="{{ href | escape }}" >[ {{ note.title | escape }} ]</a>
              </li>
            {%- endif -%}
          {% endfor %}
        </ul>
      </li>

    {% endfor %}
  </ul>
</div>
