<!doctype html>
<html lang="en">

	{% include head.html %}
	
	<body id="page-top">

		{% include navigation.html %}

		<section class="projects-section">
			<div class="container px-4 px-lg-0">
				<div class="row gx-lg-5">
					<div class="project-text w-100 my-auto">
						<p class="text-white-50 mb-4">

						<h3> {{ page.title }} </h3>
						<br/><br/>

						{{ content }}
						</p>
					</div>
				</div>
			</div>
		</section>



		<br/>
		<br/>
		<br/>
		{% include footer.html %}

	</body>
</html>
