<!doctype html>
<html lang="en">

	{% include head.html %}
	
	<body id="page-top">

		{% include navigation.html %}

		<section class="projects-section">
			<div class="container px-4 px-lg-0">
				<div class="row gx-lg-5">
					<div class="project-text w-100 my-auto">
						<p class="text-white-50 mb-4">

						<ul style="list-style: none;">
							{% for example in site.examples %}
							<li>
								<a class="nav-link"  href="/home/{{ example.url }}">
									{% if page.url == example.url %} &#10145; {% endif %}
									{{ example.title }}
								</a>
							</li>
							{% endfor %}
						</ul>
						<br/><br/>

						<h3> {{ page.title }} </h3>
						Working Directory: <code>{{ page.directory }}</code>
						<br/><br/><br/>

						{{ content }}
						</p>
					</div>
				</div>
			</div>
		</section>



		<br/>
		<br/>
		<br/>
		{% include footer.html %}

	</body>
</html>
